 body { background-color:#fff; font-family:"Trebuchet MS",arial,sans-serif; font-size:62.5%; color:#777; margin:0; padding:0; }
 a { text-decoration:none; color:#222; }
 a:hover { color:#c00; }
 acronym { cursor:help; border-bottom:1px dotted #ddd; }
 #container { font-size:1.2em; width:550px; margin:0 auto; border-right:3px double #000; }
 #header { color:#444; margin:0; padding:10px; background:#fff url(theme/default_header.jpg?509842) no-repeat bottom right; }
 #header h1 { font-family:"Trebuchet MS",arial,sans-serif; font-size:2em; color:#333; margin:150px 0 0 0; font-weight:normal; line-height:1.5; }
 #header h1 strong { color:#c00; }
 #header h2 { margin:140px 0 0 0; font-size:1em; font-weight:normal; color:#999; }
 #navigation { text-align:right; margin:10px 10px 10px auto; }
 #navigation { margin:0 10px 0 0; padding:0; }
 #navigation li { margin:0; padding:0; list-style:none; display:inline; }
 #navigation li a { padding:5px 6px 2px 4px; margin:0 2px 0 0px; color:#666; text-decoration:none; font-weight:bold; border-bottom:1px solid #ddd; }
 #navigation li a:hover { color:#C00; border-bottom:1px solid #c00; }
 #active a:link { color:#C00; border-bottom:1px solid #c00; }
 #active a:hover { color:#C00; border-bottom:1px solid #c00; }
 #active a:visited { color:#C00; border-bottom:1px solid #c00; }
 #content { margin:20px 0 20px 10px; padding:0; }
 #content div.paragraph { padding:2px; text-align:justify; line-height:1.5; }
 #content p { padding:2px; text-align:justify; line-height:1.5; }
 #content h1 { display:block; margin:50px 0 0 10px; padding:0; font-family:"Trebuchet MS",arial,sans-serif; font-size:1.8em; color:#c00; border-color:#ddd; border-style:solid; border-width:0 0 1px 0; }
 #content h2 { display:block; margin:20px 10px 0 0px; padding:0; font-family:"Trebuchet MS",arial,sans-serif; font-size:1.1em; letter-spacing:2px; color:#444; border-color:#c00; border-style:solid; border-width:0 0 1px 0; line-height:1.5; }
 #content .post_info { text-align:right; margin:0 25px 5px 25px; padding:2px; font-size:0.8em; font-family:arial,sans-serif; color:#aaa; line-height:0.9em; word-spacing:1px; border-top:1px solid #ddd; }
 #content .post_info a { text-transform:uppercase; }
 #content blockquote { margin:10px 60px; padding:5px; font-family:"Trebuchet MS",arial,sans-serif; font-size:0.9em; color:#444; border:1px solid #ddd; background-color:#eee; }
 #content blockquote div.paragraph { margin:0; padding:0; text-indent:0; }
 #content blockquote p { margin:0; padding:0; text-indent:0; }
 #content pre { margin:10px 60px; padding:5px; color:#444; border:1px solid #eee; background-color:#fafafa; }
 #content ul { margin-left:70px; list-style:upper-roman outside; font-family:arial,sans-serif; font-size:0.9em; }
 #content li { padding:3px; }
 #footer { font-size:0.9em; font-family:arial,sans-serif; margin:90px 0 20px 0; padding:10px 10px 10px 0; border-top:1px solid #c00; }
 #footer { color:#bbb; font-size:0.9em; font-family:arial,sans-serif; }
 #footer span { color:#888; }
 #footer a { color:#888; }
 #footer a:hover { color:#aaa; }
 #wsite-menus .wsite-menu-wrap { z-index: 5000; }
 #wsite-menus .wsite-menu { padding: 0; margin: 0; list-style: none; }
 #wsite-menus .wsite-menu li { float: left; clear: left; width: 170px; text-align: left; }
 #wsite-menus .wsite-menu li a { position: relative; display: block; width: 100%; background: #f9f9f8; border-right: 1px solid #cc0000; border-left: 1px solid #cc0000; border-bottom: 1px solid #cc0000; text-decoration: none; font-size: 11px; font-weight: normal; line-height:1; padding:3px; color: #666666; }
 #wsite-menus .wsite-menu li a:hover { background: #e3e3e3; }
 #wsite-menus span.wsite-menu-title { display: block; padding: 5px 10px; }
 #wsite-menus span.wsite-menu-more { background: transparent url(http://images.weebly.com/weebly/images/submenu_arrow.gif) no-repeat center top; display: block; position: absolute; right: 5px; top: 0; font-family: Courier; height: 28px; line-height: 28px; padding:1px 0 3px 0; }

div.paragraph ul, div.paragraph ol { padding-left: 25px !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
