body
{
background-color:#FFFFFF;
margin:0;
text-align:center;
}
h1
{
margin-bottom:0;
}
p
{
font-family:"Times New Roman";
font-size:20px;
}
#container
{ 
width:904px;
height:750px;
}
#header
{
background-color:#FFFFFF;
height:10%;
width:100%;
}
#logo
{
background-color:#55D721;
height:100%;
width:30%;
float:left;
}
#bylogo
{
height:100%;
width:70%;
float:left;
}
#languages
{
height:50%;
width:100%;
float:left;
}
#menu
{
background-color:#FFD700;
height:50%;
width:100%;
float:left;
}
#headspace
{
background-color:#00D700;
height:5%;
width:100%;
float:left;
}
#intro
{
background-color:#141488;
height:35%;
width:100%;
margin:2;
float:left;
}
#space
{
background-color:#FFFFFF;
height:4%;
width:100%;
float:left;
}

#disciplines
{
background-color:#11FF33;
height:35%;
width:100%;
float:left;
}
div.expert
{
height:100%;
width:25%;
box-shadow:2px 2px 3px #aaaaaa;
float:left;
}
#footspace
{
background-color:#FFFFFF;
height:4%;
width:100%;
float:left;
}
#footer
{
background-color:#002200;
height:7%;
width:100%;
float:left;
}


#content
{
background-color:#EEEEEE;
height:200px;
width:400px;
float:left;
}
#footer
{
background-color:#FFA500;clear:both;text-align:center;
}
div.rotate_right
{
float:left;
-ms-transform:rotate(7deg); /* IE 9 */
-moz-transform:rotate(7deg); /* Firefox */
-webkit-transform:rotate(7deg); /* Safari and Chrome */
-o-transform:rotate(7deg); /* Opera */
transform:rotate(7deg);
}
div.polaroid
{
width:294px;
padding:10px 10px 20px 10px;
border:1px solid #BFBFBF;
background-color:white;
/* Add box-shadow */
box-shadow:2px 2px 3px #aaaaaa;
}
